{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        {#<div class="row">#}
            {#{% for article in articles %}#}
                {#<div class="col-md-6">#}
                    {#<article>#}
                        {#<header>#}
                            {#<h2>{{ article.title }}</h2>#}
                        {#</header>#}

                        {#<p>#}
                            {#{{ article.summary }}#}
                        {#</p>#}

                        {#<small class="author">#}
                            {#{{ article.author.fullName }}#}
                        {#</small>#}

                        {#<footer>#}
                            {#<div class="pull-right">#}
                                {#<a class="btn btn-default btn-xs"#}
                                   {#href="#">Read more &raquo;</a>#}
                            {#</div>#}
                        {#</footer>#}
                    {#</article>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
     {#Това колеги не можах да го оправя , опитвах всякакви начини и не става , поздрави ! :)#}
      Поздрави!
    </div>


{% endblock %}
