<div class="container body-content">
<div class="row">
    <div class="col-md-12">
        <header>
            <h2>{{this.user.fullName}}`s profile</h2>
        </header>
        </br></br>
        <h4><i>Username:</i></h4>
        <p>{{this.user.fullName}}</p>
        </br>
        <h4><i>Email:</i></h4>
        <p>{{this.user.email}}</p></br>
        <h4><i>Registered at:</i></h4>
        <p>{{this.user.createdAt}}</p>
        <footer>
            <div class="pull-right">
                <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
            </div>
        </footer>
    </div>
</div>
</div>